# STATS 102
## Class 12
## Textbook reference: Python Data Science Handbook
### Chapter 3

Here are the topics for this lecture:

* Hierarchical Indexing
* Concat and Append
* Merge and Join
* Aggregation and Grouping

Let's get started...

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Handling Missing Data](03.04-Missing-Values.ipynb) | [Contents](Index.ipynb) | [Combining Datasets: Concat and Append](03.06-Concat-And-Append.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.05-Hierarchical-Indexing.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# Hierarchical Indexing

Up to this point we've been focused primarily on one-dimensional and two-dimensional data, stored in Pandas ``Series`` and ``DataFrame`` objects, respectively. Often it is useful to go beyond this and store higher-dimensional data–that is, data indexed by more than one or two keys.
We will talk about how to make use of *hierarchical indexing* (also known as *multi-indexing*) to incorporate **multiple index *levels* within a single index**. In this way, higher-dimensional data can be compactly represented within the familiar one-dimensional ``Series`` and two-dimensional ``DataFrame`` objects.

In this section, we'll explore the direct creation of ``MultiIndex`` objects, considerations when indexing, slicing, and computing statistics across multiply indexed data, and useful routines for converting between simple and hierarchically indexed representations of your data.

We begin with the standard imports:

In [52]:
import pandas as pd
import numpy as np

## A Multiply Indexed Series

Let's start by considering how we might represent two-dimensional data within a one-dimensional ``Series``.
For concreteness, we will consider a series of data where each point has a character and numerical key.

### The bad way

Suppose you would like to track data about states from two different years.
Using the Pandas tools we've already covered, you might be tempted to simply use Python tuples as keys:

In [58]:
# Define a index of Tuples
tup_index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=tup_index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

With this indexing scheme, you can straightforwardly index or slice the series based on this multiple index:

In [59]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

But the convenience ends there. For example, if you need to select all values from 2010, you'll need to do some messy (and potentially slow) munging to make it happen:

In [60]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

This produces the desired result, but is not as clean (or as efficient for large datasets) as the slicing syntax we've grown to love in Pandas.

### The Better Way: Pandas MultiIndex
Fortunately, Pandas provides a better way.
Our tuple-based indexing is essentially a rudimentary multi-index, and the Pandas ``MultiIndex`` type gives us the type of operations we wish to have.
We can create a multi-index from the tuples as follows:

In [61]:
# Define a multilevel index based on tuples
index = pd.MultiIndex.from_tuples(tup_index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

Notice that the ``MultiIndex`` contains multiple *levels* of indexing–in this case, the state names and the years, as well as multiple *labels* for each data point which encode these levels.

If we re-index our series with this ``MultiIndex``, we see the hierarchical representation of the data:

In [62]:
# Let's reindex with this index
pop = pop.reindex(index)
# Then show me Series with Multi-index
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Here the first two columns of the ``Series`` representation show the multiple index values, while the third column shows the data.
Notice that some entries are missing in the first column: in this multi-index representation, any **blank entry indicates the same value as the line above it**.

Now to access all data for which the second index is 2010, we can simply use the Pandas slicing notation:

In [63]:
# Show me all the data with index 2010
pop[:, 2010] # Use Panda slicing notation - column containing 2010 data

California    37253956
New York      19378102
Texas         25145561
dtype: int64

The result is a singly indexed array with just the keys we're interested in.
This syntax is much more convenient (and the operation is much more efficient!) than the home-spun tuple-based multi-indexing solution that we started with.
We'll now further discuss this sort of indexing operation on hieararchically indexed data.

### MultiIndex as extra dimension

You might notice something else here: we could easily have stored the same data using a simple ``DataFrame`` with index and column labels.
In fact, Pandas is built with this equivalence in mind. The ``unstack()`` method will quickly convert a multiply indexed ``Series`` into a conventionally indexed ``DataFrame``:

In [64]:
# Conver multi-indexed to conventionally indexed
pop_df = pop.unstack() # Define new unstacked dataframe
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

Naturally, the ``stack()`` method provides the opposite operation:

In [65]:
pop_df.stack() # Let's put humpy dumpy back together!

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Seeing this, you might wonder why would we would bother with hierarchical indexing at all.
The reason is simple: just as we were able to use multi-indexing to represent two-dimensional data within a one-dimensional ``Series``, we can also use it to represent data of three or more dimensions in a ``Series`` or ``DataFrame``.
Each extra level in a multi-index represents an extra dimension of data; taking advantage of this property gives us much more flexibility in the types of data we can represent. 

Say we want to add another column of demographic data for each state at each year (say, population under 18) ; with a ``MultiIndex`` this is as easy as adding another column to the ``DataFrame``:

In [66]:
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In addition, all the ufuncs and other functionality discussed in [Operating on Data in Pandas](03.03-Operations-in-Pandas.ipynb) work with hierarchical indices as well.
Here we compute the fraction of people under 18 by year, given the above data:

In [67]:
# Lets calculate percentage of population under 18 and save into new df
f_u18 = (pop_df['under18'] / pop_df['total'])*100
print(f_u18)
# Then unstack the new dataframe
f_u18.unstack()

California  2000    27.359428
            2010    24.921096
New York    2000    24.700997
            2010    22.283054
Texas       2000    28.325110
            2010    27.356773
dtype: float64

                 2000       2010
California  27.359428  24.921096
New York    24.700997  22.283054
Texas       28.325110  27.356773

This allows us to easily and quickly manipulate and explore even high-dimensional data.

## Methods of MultiIndex Creation

## #1 The most straightforward way to construct a multiply indexed ``Series`` or ``DataFrame`` is to simply pass a list of two or more index arrays to the constructor. For example:

In [68]:
# Contruct multi-index pandas by passing a list of index arrays
# Values is a matrix of four rows and two columns
# Explicit indexes are two: [a,a,b,b] [1,2,1,2]
# Column labels are two "data1" and "data2"
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.223826  0.301838
  2  0.440891  0.912776
b 1  0.911117  0.007916
  2  0.105768  0.716210

The work of creating the ``MultiIndex`` is done in the background.

## #2 Similarly, if you pass a dictionary with appropriate tuples as keys, Pandas will automatically recognize this and use a ``MultiIndex`` by default:

In [69]:
# If you pass a dictionary with tuple keys, 
# it will be interpreted as multiindex
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

Nevertheless, it is sometimes useful to explicitly create a ``MultiIndex``; we'll see a couple of these methods here.

## Explicit MultiIndex constructors

For more flexibility in how the index is constructed, you can instead use the class method constructors available in the ``pd.MultiIndex``.
For example, as we did before, you can construct the ``MultiIndex`` from a simple list of arrays giving the index values within each level:

## #3 From_array method

In [70]:
#  Note you add "from_arrays" method to MultiIndex
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

## #4 You can construct it from a list of tuples giving the multiple index values of each point:

In [71]:
#  Note you add "from_tuples" method to MultiIndex
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

## #5 You can even construct it from a Cartesian product of single indices:

In [72]:
# You could even do product of level arrays!!!
# You get: a1, a2, b1, b2
#  Note you add "from_product" method to MultiIndex
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

## #6 Similarly, you can construct the ``MultiIndex`` directly using its internal encoding by passing ``levels`` (a list of lists containing available index values for each level) and ``labels`` (a list of lists that reference these labels):

In [73]:
# Or explicitly define the "levels" and "labels"
# level "a" has labels 0 and 0
# level "b" has labels 1 and 1
# level "1" has labels 0 and 1
# level "2" has labels 0 and 1
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

/home/dku-dasc-02/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  import sys

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

Any of these objects can be passed as:

a) the ``index`` argument when creating a ``Series`` or ``Dataframe``, 

b) passed to the ``reindex`` method of an existing ``Series`` or ``DataFrame``

## MultiIndex level names

Sometimes it is convenient to name the levels of the ``MultiIndex``.
This can be accomplished by:

1) passing the ``names`` argument to any of the above ``MultiIndex`` constructors, 

2) setting the ``names`` attribute of the index after the fact

In [74]:
# Ok, let's define the names of the "levels"
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

With more involved datasets, this can be a useful way to keep track of the meaning of various index values.

## MultiIndex for columns

In a ``DataFrame``, the rows and columns are completely symmetric, and just as the rows can have multiple levels of indices, the columns can have multiple levels as well.
Consider the following, which is a mock-up of some (somewhat realistic) medical data:

In [75]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1) # round to one decimal point
data[:, ::2] *= 10 # Multiply by 10 values in every other column
data += 37 # Set baseline to 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  38.2  26.0  36.2  20.0  37.9
     2      27.0  38.0  22.0  35.6  42.0  37.7
2014 1      43.0  37.3  40.0  36.4  36.0  36.9
     2      28.0  36.6  61.0  38.6  51.0  36.8

Here we see where the multi-indexing for both rows and columns can come in *very* handy.
This is fundamentally four-dimensional data, where the dimensions are the subject, the measurement type, the year, and the visit number.
With this in place we can, for example, index the top-level column by the person's name and get a full ``DataFrame`` containing just that person's information:

In [76]:
health_data['Guido'] # Show me records for "Guido"

type          HR  Temp
year visit
2013 1      26.0  36.2
     2      22.0  35.6
2014 1      40.0  36.4
     2      61.0  38.6

For complicated records containing multiple labeled measurements across multiple times for many subjects (people, countries, cities, etc.) use of hierarchical rows and columns can be extremely convenient!

## Indexing and Slicing a MultiIndex

Indexing and slicing on a ``MultiIndex`` is designed to be intuitive, and it helps if you think about the indices as added dimensions.
We'll first look at indexing multiply indexed ``Series``, and then multiply-indexed ``DataFrame``s.

### Multiply indexed Series

Consider the multiply indexed ``Series`` of state populations we saw earlier:

In [77]:
pop # Series with two indexes

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

We can access single elements by indexing with multiple terms:

In [78]:
pop['California', 2000] # Specify both labels to index specific value

33871648

The ``MultiIndex`` also supports *partial indexing*, or indexing just one of the levels in the index.
The result is another ``Series``, with the lower-level indices maintained:

In [79]:
pop['California'] # Index of one level

year
2000    33871648
2010    37253956
dtype: int64

Partial slicing is available as well, as long as the ``MultiIndex`` is sorted (see discussion in [Sorted and Unsorted Indices](#Sorted-and-unsorted-indices)):

In [80]:
pop.loc['California':'New York'] # Partial slicing works if MI is sorted

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

With sorted indices, partial indexing can be performed on lower levels by passing an empty slice in the first index:

In [81]:
pop[:, 2000] # Focus on lower level index

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

Other types of indexing and selection (discussed in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb)) work as well; for example, selection based on Boolean masks:

In [82]:
pop[pop > 22000000] # Use boolean masks (all states with pop > value)

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

Selection based on fancy indexing also works:

In [83]:
pop[['California', 'Texas']] # Fancy indexing

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

### Multiply indexed DataFrames

A multiply indexed ``DataFrame`` behaves in a similar manner.
Consider our toy medical ``DataFrame`` from before:

In [84]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  38.2  26.0  36.2  20.0  37.9
     2      27.0  38.0  22.0  35.6  42.0  37.7
2014 1      43.0  37.3  40.0  36.4  36.0  36.9
     2      28.0  36.6  61.0  38.6  51.0  36.8

Remember that **columns are primary in a ``DataFrame``**, and the syntax used for multiply indexed ``Series`` applies to the columns.

For example, we can recover Guido's heart rate data with a simple operation:

In [86]:
health_data['Guido', 'HR'] # Columns primary in dataframe

year  visit
2013  1        26.0
      2        22.0
2014  1        40.0
      2        61.0
Name: (Guido, HR), dtype: float64

Also, as with the single-index case, we can use the ``loc``, ``iloc``, and ``ix`` indexers introduced in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb). For example:

In [87]:
# Slicing the salami (or is it Sushi????)
health_data.iloc[:2, :2] # First two rows and first two columns

subject      Bob
type          HR  Temp
year visit
2013 1      44.0  38.2
     2      27.0  38.0

These indexers provide an array-like view of the underlying two-dimensional data, but each individual index in ``loc`` or ``iloc`` can be passed a tuple of multiple indices. For example:

In [88]:
# Give all data associated with Bob and Heart Rate
health_data.loc[:, ('Bob', 'HR')] # Use explicit indices all rows

year  visit
2013  1        44.0
      2        27.0
2014  1        43.0
      2        28.0
Name: (Bob, HR), dtype: float64

Working with slices within these index tuples is not especially convenient; trying to create a slice within a tuple will lead to a syntax error:

There are so many ways to interact with data in multiply indexed ``Series`` and ``DataFrame``s, and as with many tools in this book the best way to become familiar with them is to try them out!

## Rearranging Multi-Indices

One of the keys to working with multiply indexed data is knowing how to **effectively transform the data**.
There are a number of operations that will preserve all the information in the dataset, but rearrange it for the purposes of various computations.
We saw a brief example of this in the ``stack()`` and ``unstack()`` methods, but there are many more ways to finely control the rearrangement of data between hierarchical indices and columns, and we'll explore them here.

### Sorted and unsorted indices

Earlier, we briefly mentioned a caveat, but we should emphasize it more here.
**Many of the ``MultiIndex``  slicing operations will fail if the index is not sorted.**

Let's take a look at this here.

We'll start by creating some simple multiply indexed data where the indices are *not lexographically sorted*:

In [89]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]]) # Multi-index
data = pd.Series(np.random.rand(6), index=index) # Create six random values between 0 and 1
data.index.names = ['char', 'int'] # Names for indexes
data

char  int
a     1      0.919384
      2      0.331954
c     1      0.366179
      2      0.099115
b     1      0.170436
      2      0.106281
dtype: float64

If we try to take a partial slice of this index, it will result in an error:

In [90]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

Although it is not entirely clear from the error message, this is the result of the MultiIndex not being sorted.
For various reasons, partial slices and other similar operations require the levels in the ``MultiIndex`` to be in sorted (i.e., lexographical) order.
Pandas provides a number of convenience routines to perform this type of sorting; examples are the ``sort_index()`` and ``sortlevel()`` methods of the ``DataFrame``.
We'll use the simplest, ``sort_index()``, here:

In [91]:
data = data.sort_index()
data

char  int
a     1      0.919384
      2      0.331954
b     1      0.170436
      2      0.106281
c     1      0.366179
      2      0.099115
dtype: float64

With the index sorted in this way, partial slicing will work as expected:

In [92]:
data['a':'b']

char  int
a     1      0.919384
      2      0.331954
b     1      0.170436
      2      0.106281
dtype: float64

### Stacking and unstacking indices

As we saw briefly before, it is possible to convert a dataset from a stacked multi-index to a simple two-dimensional representation, optionally specifying the level to use:

In [93]:
# Go from multi-index to simple index
print(pop)
pop.unstack(level=0) # Using State (right index = level=>0)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [94]:
print(pop)
pop.unstack(level=1) # Using Year (left index = level=>1)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

The opposite of ``unstack()`` is ``stack()``, which here can be used to recover the original series:

In [95]:
pop.unstack().stack() # Back to original

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

## Index setting and resetting

Another way to rearrange hierarchical data is to **turn the index labels into columns**; this can be accomplished with the ``reset_index`` method.
Calling this on the population dictionary will result in a ``DataFrame`` with a *state* and *year* column holding the information that was formerly in the index.
For clarity, we can optionally specify the name of the data for the column representation:

In [97]:
# Turn indices into columns using "reset_index" 
# now state and year are columns will define flat dataframe
print(pop)
pop_flat = pop.reset_index(name='population')
pop_flat

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

Often when working with data in the real world, the raw input data looks like this and it's useful to build a ``MultiIndex`` from the column values.
This can be done with the ``set_index`` method of the ``DataFrame``, which returns a multiply indexed ``DataFrame``:

In [100]:
print(pop_flat)
# Create multi-index from columns
pop_flat.set_index(['state', 'year'])

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In practice, I find this type of reindexing to be one of the more useful patterns when encountering real-world datasets.

## Data Aggregations on Multi-Indices

We've previously seen that Pandas has built-in data aggregation methods, such as ``mean()``, ``sum()``, and ``max()``.
For hierarchically indexed data, these can be passed a ``level`` parameter that controls which subset of the data the aggregate is computed on.

For example, let's return to our health data:

In [101]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  38.2  26.0  36.2  20.0  37.9
     2      27.0  38.0  22.0  35.6  42.0  37.7
2014 1      43.0  37.3  40.0  36.4  36.0  36.9
     2      28.0  36.6  61.0  38.6  51.0  36.8

Perhaps we'd like to average-out the measurements in the two visits each year. We can do this by naming the index level we'd like to explore, in this case the year:

In [108]:
# Apply data aggregation at a specific level 
# We explicitly mention the index level we want to retain
data_mean = health_data.mean(axis=0, level='year')
data_mean

subject   Bob        Guido         Sue
type       HR   Temp    HR  Temp    HR   Temp
year
2013     35.5  38.10  24.0  35.9  31.0  37.80
2014     35.5  36.95  50.5  37.5  43.5  36.85

In [106]:
# Apply data aggregation at a specific level 
# We explicitly mention the index level we want to retain
data_mean1 = health_data.mean(axis=0, level='visit')
data_mean1

subject   Bob        Guido         Sue
type       HR   Temp    HR  Temp    HR   Temp
visit
1        43.5  37.75  33.0  36.3  28.0  37.40
2        27.5  37.30  41.5  37.1  46.5  37.25

By further making use of the ``axis`` keyword, we can take the mean among levels on the columns as well:

In [105]:
# Furhter calculate mean across column labels (e.g. retain type)
data_mean.mean(axis=1, level='subject') # Axis=1 ==>> aggregate per column

subject     Bob  Guido     Sue
year
2013     36.800  29.95  34.400
2014     36.225  44.00  40.175

Thus in two lines, we've been able to find the average heart rate and temperature measured among all subjects in all visits each year.
This syntax is actually a short cut to the ``GroupBy`` functionality, which we will discuss in [Aggregation and Grouping](03.08-Aggregation-and-Grouping.ipynb).
While this is a toy example, many real-world datasets have similar hierarchical structure.

<!--NAVIGATION-->
< [Handling Missing Data](03.04-Missing-Values.ipynb) | [Contents](Index.ipynb) | [Combining Datasets: Concat and Append](03.06-Concat-And-Append.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.05-Hierarchical-Indexing.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>